---
---
<div class="text-justify">{{reference}}</div>
{% if links.pdf %}
<a href="{{links.pdf}}">PDF</a>
{% endif %}
{% if entry.abstract %}
<a onclick="toggleAbstract{{entry.key}}()" href="#">Abstract</a>
{% endif %}
<a onclick="toggleBibtex{{entry.key}}()" href="#">BibTeX</a>
 
<div id="abstract{{entry.key}}" style="border-left: 4px solid #a0a0a0; padding-left:1ex; display: none;">
    {{entry.abstract | markdownify}}
</div>
<div id="bibtex{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('bibtex{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
 }
function toggleAbstract{{entry.key}}(parameter) {
     var x= document.getElementById('abstract{{entry.key}}');
     if (x.style.display === 'none') {
         x.style.display = 'block';
     } else {
         x.style.display = 'none';
     }
 }
</script>
